.button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    padding: 24px 48px;
    background-color: bisque;
    color: coral;
    border-radius: 4px 4px 0px 0px;
    transition: all .5s;
    font-weight: bold;
    cursor: pointer;
    border-bottom: solid 2px coral;
}

.button:hover {
    text-decoration: none;
    background-color: coral;
    color: bisque;
}

.button-wrap {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.button-wrap:active,
.button-wrap:hover,
.button-wrap:link {
    text-decoration: none;
}

.button-wrap .button {
    width: 100%;
}