.team {
    position: relative;
    width: 100%;
    padding: 48px 15%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    gap: 32px;
}

.team .title {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.team .subtitle {
    margin: 0;
    font-size: 1.5rem;
}

.team .team-bubble {
    display: flex;
    gap: 36px;
    justify-content: space-around;
}

.team .team-bubble .dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.team .team-bubble .dev p {
    margin: 0;
    text-align: center;
}

.team .team-bubble .dev .photo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.team .team-bubble .dev .photo-wrap {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightgray;
    padding: 10px;
}

.team .team-bubble .dev .photo img {
    border-radius: 50%;
    max-width: 180px;
}

.team .team-bubble .dev .infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.team .team-bubble .dev .infos .name {
    font-weight: bold;
    font-size: 1.2rem;
}

.team .team-bubble .dev .infos .role {
    font-size: 1.0rem;
    color: rgb(108, 117, 125);
}

.team .team-bubble .dev .infos .social {
    display: flex;
    gap: 8px;
    justify-content: center;
}

@media (max-width: 768px) {
    .team .team-bubble .dev .photo-wrap {
        width: 180px;
        height: 180px;
    }

    .team .team-bubble .dev .photo img {
        max-width: 160px;
    }
}

@media (max-width: 600px) {
    .team .team-bubble {
        flex-direction: column;
    }

    .team .team-bubble .dev {
        gap: 16px;
    }

    .team .team-bubble .dev .photo-wrap {
        width: 150px;
        height: 150px;
    }

    .team .team-bubble .dev .photo img {
        max-width: 130px;
    }
}

@media (max-width: 480px) {
    .team .team-bubble .dev {
        gap: 4px;
    }

    .team .team-bubble .dev .photo-wrap {
        width: 120px;
        height: 120px;
    }

    .team .team-bubble .dev .photo img {
        max-width: 100px;
    }
}